In [1]:
import pandas as pd

In [7]:
df_loc = pd.read_csv('data/locations.csv')

In [8]:
df_loc.head()

,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,53.800003,20.500000,133.0,3600,Europe/Warsaw,CET
1,52.199997,21.000000,113.0,3600,Europe/Warsaw,CET
2,51.500000,-0.099991,27.0,0,Europe/London,GMT

In [9]:
names = ['Olsztyn', 'Warszawa', 'Londyn']
df_loc.insert(0, 'name', names)
df_loc.head()

,name,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,Olsztyn,53.800003,20.500000,133.0,3600,Europe/Warsaw,CET
1,Warszawa,52.199997,21.000000,113.0,3600,Europe/Warsaw,CET
2,Londyn,51.500000,-0.099991,27.0,0,Europe/London,GMT

In [12]:
df_loc.to_csv('data/locations2.csv', index=False)

In [17]:
d_ols = pd.read_csv('data/daily_olsztyn.csv')
d_war = pd.read_csv('data/daily_warszawa.csv')
d_lon = pd.read_csv('data/daily_londyn.csv')

In [16]:
d_ols.head()

,time,weathercode (wmo code),temperature_2m_max (Â°C),temperature_2m_min (Â°C),rain_sum (mm),snowfall_sum (cm),windspeed_10m_max (km/h),winddirection_10m_dominant (Â°)
0,2022-10-01,53,14.8,7.2,3.4,0.0,17.7,268
1,2022-10-02,61,13.2,9.4,4.5,0.0,22.4,188
2,2022-10-03,53,12.3,8.9,1.6,0.0,31.6,133
3,2022-10-04,51,13.5,8.8,0.8,0.0,26.3,146
4,2022-10-05,3,15.7,9.2,0.0,0.0,20.2,226

In [20]:
col_names = ['date', 'weathercode', 'temperature_max', 'temperature_min', 'rain_sum', 'snowfall_sum', 'windspeed_max', 'winddirection_dominant']
d_ols.columns = col_names
d_war.columns = col_names
d_lon.columns = col_names
d_ols.head()

,date,weathercode,temperature_max,temperature_min,rain_sum,snowfall_sum,windspeed_max,winddirection_dominant
0,2022-10-01,53,14.8,7.2,3.4,0.0,17.7,268
1,2022-10-02,61,13.2,9.4,4.5,0.0,22.4,188
2,2022-10-03,53,12.3,8.9,1.6,0.0,31.6,133
3,2022-10-04,51,13.5,8.8,0.8,0.0,26.3,146
4,2022-10-05,3,15.7,9.2,0.0,0.0,20.2,226

In [22]:
d_ols.insert(0, 'location', 'Olsztyn')
d_war.insert(0, 'location', 'Warszawa')
d_lon.insert(0, 'location', 'Londyn')

In [24]:
d_ols.shape[0], d_war.shape[0], d_lon.shape[0]

(104, 104, 104)

In [26]:
daily = [d_ols, d_war, d_lon]
df_daily = pd.concat(daily, ignore_index=True)
df_daily.head()

,location,date,weathercode,temperature_max,temperature_min,rain_sum,snowfall_sum,windspeed_max,winddirection_dominant
0,Olsztyn,2022-10-01,53,14.8,7.2,3.4,0.0,17.7,268
1,Olsztyn,2022-10-02,61,13.2,9.4,4.5,0.0,22.4,188
2,Olsztyn,2022-10-03,53,12.3,8.9,1.6,0.0,31.6,133
3,Olsztyn,2022-10-04,51,13.5,8.8,0.8,0.0,26.3,146
4,Olsztyn,2022-10-05,3,15.7,9.2,0.0,0.0,20.2,226

In [27]:
df_daily.shape[0]

312

In [28]:
df_daily.to_csv('data/daily_data.csv', index=False)

In [53]:
h_ols = pd.read_csv('data/pre_cleaning/hourly_olsztyn.csv')
h_war = pd.read_csv('data/pre_cleaning/hourly_warszawa.csv')
h_lon = pd.read_csv('data/pre_cleaning/hourly_londyn.csv')

In [54]:
h_ols.head()

,time,temperature_2m (Â°C),relativehumidity_2m (%),rain (mm),snowfall (cm),weathercode (wmo code),windspeed_10m (km/h),winddirection_10m (Â°)
0,2022-10-01T00:00,9.3,81,0.0,0.0,1,7.3,259
1,2022-10-01T01:00,9.2,82,0.0,0.0,2,6.6,257
2,2022-10-01T02:00,9.2,83,0.0,0.0,3,6.5,251
3,2022-10-01T03:00,8.9,86,0.0,0.0,3,7.3,250
4,2022-10-01T04:00,8.4,89,0.0,0.0,2,8.7,253

In [55]:
col_names = ['date', 'temperature', 'relative_humidity', 'rain', 'snowfall', 'weathercode', 'wind_speed', 'wind_direction']
h_ols.columns = col_names
h_war.columns = col_names
h_lon.columns = col_names
h_ols.head()

,date,temperature,relative_humidity,rain,snowfall,weathercode,wind_speed,wind_direction
0,2022-10-01T00:00,9.3,81,0.0,0.0,1,7.3,259
1,2022-10-01T01:00,9.2,82,0.0,0.0,2,6.6,257
2,2022-10-01T02:00,9.2,83,0.0,0.0,3,6.5,251
3,2022-10-01T03:00,8.9,86,0.0,0.0,3,7.3,250
4,2022-10-01T04:00,8.4,89,0.0,0.0,2,8.7,253

In [56]:
h_ols.insert(0, 'location', 'Olsztyn')
h_war.insert(0, 'location', 'Warszawa')
h_lon.insert(0, 'location', 'Londyn')

In [57]:
h_ols.shape[0], h_war.shape[0], h_lon.shape[0]

(2496, 2496, 2496)

In [58]:
hourly = [h_ols, h_war, h_lon]
df_hourly = pd.concat(hourly, ignore_index=True)
df_hourly.head()

,location,date,temperature,relative_humidity,rain,snowfall,weathercode,wind_speed,wind_direction
0,Olsztyn,2022-10-01T00:00,9.3,81,0.0,0.0,1,7.3,259
1,Olsztyn,2022-10-01T01:00,9.2,82,0.0,0.0,2,6.6,257
2,Olsztyn,2022-10-01T02:00,9.2,83,0.0,0.0,3,6.5,251
3,Olsztyn,2022-10-01T03:00,8.9,86,0.0,0.0,3,7.3,250
4,Olsztyn,2022-10-01T04:00,8.4,89,0.0,0.0,2,8.7,253

In [59]:
df_hourly.shape[0]

7488

In [60]:
df_hourly.dtypes

location              object
date                  object
temperature          float64
relative_humidity      int64
rain                 float64
snowfall             float64
weathercode            int64
wind_speed           float64
wind_direction         int64
dtype: object

In [61]:
df_hourly['date'] = pd.to_datetime(df_hourly['date'])
df_hourly.head()

,location,date,temperature,relative_humidity,rain,snowfall,weathercode,wind_speed,wind_direction
0,Olsztyn,2022-10-01 00:00:00,9.3,81,0.0,0.0,1,7.3,259
1,Olsztyn,2022-10-01 01:00:00,9.2,82,0.0,0.0,2,6.6,257
2,Olsztyn,2022-10-01 02:00:00,9.2,83,0.0,0.0,3,6.5,251
3,Olsztyn,2022-10-01 03:00:00,8.9,86,0.0,0.0,3,7.3,250
4,Olsztyn,2022-10-01 04:00:00,8.4,89,0.0,0.0,2,8.7,253

In [62]:
df_hourly.insert(2, 'time', df_hourly['date'].dt.hour)
df_hourly['date'] = df_hourly['date'].dt.date
df_hourly.head()

,location,date,time,temperature,relative_humidity,rain,snowfall,weathercode,wind_speed,wind_direction
0,Olsztyn,2022-10-01,0,9.3,81,0.0,0.0,1,7.3,259
1,Olsztyn,2022-10-01,1,9.2,82,0.0,0.0,2,6.6,257
2,Olsztyn,2022-10-01,2,9.2,83,0.0,0.0,3,6.5,251
3,Olsztyn,2022-10-01,3,8.9,86,0.0,0.0,3,7.3,250
4,Olsztyn,2022-10-01,4,8.4,89,0.0,0.0,2,8.7,253

In [63]:
df_hourly.to_csv('data/hourly_data.csv', index=False)