In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/daily_data.csv')
df.head()

,location,date,weathercode,temperature_max,temperature_min,rain_sum,snowfall_sum,windspeed_max,winddirection_dominant
0,Olsztyn,2022-10-01,53,14.8,7.2,3.4,0.0,17.7,268
1,Olsztyn,2022-10-02,61,13.2,9.4,4.5,0.0,22.4,188
2,Olsztyn,2022-10-03,53,12.3,8.9,1.6,0.0,31.6,133
3,Olsztyn,2022-10-04,51,13.5,8.8,0.8,0.0,26.3,146
4,Olsztyn,2022-10-05,3,15.7,9.2,0.0,0.0,20.2,226

In [5]:
df.describe()

,weathercode,temperature_max,temperature_min,rain_sum,snowfall_sum,windspeed_max,winddirection_dominant
count,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000
mean,40.099359,8.846154,3.950962,1.701282,0.173654,19.226603,212.173077
std,25.864470,6.383352,5.532651,3.332650,0.700449,7.041537,78.520578
min,0.000000,-7.000000,-15.000000,0.000000,0.000000,5.000000,0.000000
25%,3.000000,2.900000,-0.425000,0.000000,0.000000,14.100000,181.000000
50%,51.000000,10.000000,4.700000,0.200000,0.000000,18.450000,221.000000
75%,53.000000,13.900000,8.600000,1.950000,0.000000,23.625000,265.000000
max,75.000000,20.800000,13.600000,30.300000,7.140000,42.200000,358.000000

In [7]:
df.describe(exclude=['float', 'int'])

       location        date
count       312         312
unique        3         104
top     Olsztyn  2022-10-01
freq        104           3

In [13]:
df.mode(numeric_only=True)

,weathercode,temperature_max,temperature_min,rain_sum,snowfall_sum,windspeed_max,winddirection_dominant
0,51.0,9.6,-1.1,0.0,0.0,15.9,236.0
1,NaN,11.3,NaN,NaN,NaN,NaN,NaN

In [14]:
df.median(numeric_only=True)

weathercode                51.00
temperature_max            10.00
temperature_min             4.70
rain_sum                    0.20
snowfall_sum                0.00
windspeed_max              18.45
winddirection_dominant    221.00
dtype: float64

In [15]:
df.var(numeric_only=True)

weathercode                668.970803
temperature_max             40.747188
temperature_min             30.610224
rain_sum                    11.106558
snowfall_sum                 0.490628
windspeed_max               49.583245
winddirection_dominant    6165.481202
dtype: float64

In [17]:
df.kurtosis(numeric_only=True)

weathercode               -1.275506
temperature_max           -0.889217
temperature_min           -0.258470
rain_sum                  23.375011
snowfall_sum              39.636280
windspeed_max              0.088675
winddirection_dominant     0.414043
dtype: float64

In [18]:
df.skew(numeric_only=True)

weathercode              -0.602737
temperature_max          -0.376474
temperature_min          -0.565504
rain_sum                  4.019631
snowfall_sum              5.666990
windspeed_max             0.663114
winddirection_dominant   -0.782811
dtype: float64