In [1]:
import pandas as pd
from scipy.stats import normaltest

In [10]:
df = pd.read_csv('data/daily_data.csv')
df.head()

,location,date,weathercode,temperature_max,temperature_min,rain_sum,snowfall_sum,windspeed_max,winddirection_dominant
0,Olsztyn,2022-10-01,53,14.8,7.2,3.4,0.0,17.7,268
1,Olsztyn,2022-10-02,61,13.2,9.4,4.5,0.0,22.4,188
2,Olsztyn,2022-10-03,53,12.3,8.9,1.6,0.0,31.6,133
3,Olsztyn,2022-10-04,51,13.5,8.8,0.8,0.0,26.3,146
4,Olsztyn,2022-10-05,3,15.7,9.2,0.0,0.0,20.2,226

In [11]:
col_names = ['weathercode', 'temperature_max', 'temperature_min', 'rain_sum', 'snowfall_sum', 'windspeed_max', 'winddirection_dominant']
for column in col_names:
    print(f'{column}: {normaltest(df[column])}')

weathercode: NormaltestResult(statistic=307.32794288257776, pvalue=1.8390144246024567e-67)
temperature_max: NormaltestResult(statistic=42.64230732914318, pvalue=5.499720459321583e-10)
temperature_min: NormaltestResult(statistic=16.09763256185657, pvalue=0.00031947987316224824)
rain_sum: NormaltestResult(statistic=297.69182772838866, pvalue=2.275311987626435e-65)
snowfall_sum: NormaltestResult(statistic=381.60427336425215, pvalue=1.3667368486299417e-83)
windspeed_max: NormaltestResult(statistic=20.20848310872399, pvalue=4.090568306343394e-05)
winddirection_dominant: NormaltestResult(statistic=28.475945072257286, pvalue=6.554311745494678e-07)

Żadna ze zmiennych nie wykazuje normalności

In [12]:
from scipy.stats import levene

In [13]:
levene(df['temperature_max'], df['temperature_min'])

LeveneResult(statistic=8.469331371667092, pvalue=0.0037410041554650844)

Wariancja jest równa

In [14]:
levene(df['rain_sum'], df['snowfall_sum'])

LeveneResult(statistic=63.01485465954275, pvalue=9.604918105842878e-15)

Wariancja jest różna

In [15]:
from scipy.stats import ttest_ind

In [16]:
ttest_ind(df['rain_sum'], df['windspeed_max'])

Ttest_indResult(statistic=-39.73611491958324, pvalue=7.820239352554516e-173)

Średnia sumy deszczu i maksymalnej prędkości wiatru są różne

In [17]:
from scipy.stats import ttest_rel

In [19]:
df_ol = df[df['location'] == 'Olsztyn']
df_ol.head()

,location,date,weathercode,temperature_max,temperature_min,rain_sum,snowfall_sum,windspeed_max,winddirection_dominant
0,Olsztyn,2022-10-01,53,14.8,7.2,3.4,0.0,17.7,268
1,Olsztyn,2022-10-02,61,13.2,9.4,4.5,0.0,22.4,188
2,Olsztyn,2022-10-03,53,12.3,8.9,1.6,0.0,31.6,133
3,Olsztyn,2022-10-04,51,13.5,8.8,0.8,0.0,26.3,146
4,Olsztyn,2022-10-05,3,15.7,9.2,0.0,0.0,20.2,226

In [20]:
df_war = df[df['location'] == 'Warszawa']
df_war.head()

,location,date,weathercode,temperature_max,temperature_min,rain_sum,snowfall_sum,windspeed_max,winddirection_dominant
104,Warszawa,2022-10-01,53,15.1,6.6,4.5,0.0,12.5,270
105,Warszawa,2022-10-02,53,13.2,9.9,4.3,0.0,21.0,175
106,Warszawa,2022-10-03,53,12.9,9.5,2.1,0.0,31.4,148
107,Warszawa,2022-10-04,51,14.2,8.9,0.7,0.0,25.3,158
108,Warszawa,2022-10-05,3,16.3,8.0,0.0,0.0,17.0,230

In [21]:
ttest_rel(df_ol['winddirection_dominant'], df_war['winddirection_dominant'])

Ttest_relResult(statistic=0.8724894392879644, pvalue=0.3849708148535229)

Można przyjąć, że średnie dominującego kierunku wiatru dla Olsztyna i Warszawy są równe

In [22]:
from scipy.stats import f_oneway

In [24]:
df_lon = df[df['location'] == 'Londyn']
df_lon.head()

,location,date,weathercode,temperature_max,temperature_min,rain_sum,snowfall_sum,windspeed_max,winddirection_dominant
208,Londyn,2022-10-01,51,18.3,11.6,0.2,0.0,23.5,196
209,Londyn,2022-10-02,53,17.5,11.7,1.7,0.0,15.3,165
210,Londyn,2022-10-03,3,17.2,9.0,0.0,0.0,13.3,280
211,Londyn,2022-10-04,51,17.4,12.1,0.1,0.0,24.2,236
212,Londyn,2022-10-05,51,18.6,11.4,0.8,0.0,41.1,224

In [25]:
f_oneway(df_ol['winddirection_dominant'], df_war['winddirection_dominant'], df_lon['winddirection_dominant'])

F_onewayResult(statistic=1.7351034242297607, pvalue=0.17809596037169284)

Można przyjąć, że średnie dominującego kierunku wiatru dla Olsztyna, Warszawy i Londynu są równe