In [1]:
from scipy.stats import levene
import pandas as pd

In [2]:
df = pd.read_csv('napoje.csv', sep=';')
df.rename(columns={'fanta ': 'fanta'}, inplace=True)
df.head()

   mies   rok   pepsi  fanta  żywiec  okocim  regionalne    cola   lech
0     1  2001  108447  43302  186385   54301       45065  227013  56306
1     2  2001  105439  46711  168782   68131       43933  221115  67212
2     3  2001  111675  36029  172186   63104       46663  222812  67398
3     4  2001  113232  33659  172445   50871       45195  238631  57100
4     5  2001  110274  40853  174526   67924       47926  222963  65001

In [3]:
levene(df['okocim'], df['lech'])

LeveneResult(statistic=1.191182232831977, pvalue=0.2757791126546958)

In [4]:
levene(df['żywiec'], df['fanta'])

LeveneResult(statistic=1.4760992846958803, pvalue=0.2251362462983421)

In [5]:
levene(df['regionalne'], df['cola'])

LeveneResult(statistic=83.85984593010029, pvalue=3.275749775904902e-18)

Wariancja między tymi parami jest różna