In [1]:
from scipy.stats import ttest_rel
import pandas as pd

In [2]:
df = pd.read_csv('napoje.csv', sep=';', usecols=['rok', 'regionalne'])
df.head()

    rok  regionalne
0  2001       45065
1  2001       43933
2  2001       46663
3  2001       45195
4  2001       47926

In [3]:
df2001 = df[df['rok'] == 2001]
df2015 = df[df['rok'] == 2015]

In [6]:
df2001 = df2001['regionalne']
df2001

0     45065
1     43933
2     46663
3     45195
4     47926
5     42821
6     41719
7     45433
8     45392
9     47166
10    47794
11    50156
Name: regionalne, dtype: int64

In [7]:
df2015 = df2015['regionalne']
df2015

168    53735
169    51911
170    56495
171    49805
172    60818
173    49150
174    45002
175    40573
176    49077
177    58483
178    59886
179    59525
Name: regionalne, dtype: int64

In [8]:
ttest_rel(df2001, df2015)

Ttest_relResult(statistic=-4.981131079425873, pvalue=0.00041469788280755834)

Średnie tych zmienych (które uznałem za zależne) nie są równe