In [1]:
from scipy.stats import ttest_rel
import pandas as pd

In [5]:
df1 = pd.read_csv('napoje.csv', sep=';', usecols=['rok', 'cola', 'fanta ', 'pepsi'])
df1.rename(columns={'fanta ': 'fanta'}, inplace=True)
df1 = df1[df1['rok'] == 2016]
df1 = df1.drop('rok', axis=1)
df1

      pepsi  fanta    cola
180  102040  39116  228359
181  109322  38667  231114
182  108039  48108  199815
183  113002  41721  221944
184  109590  48840  219085
185  105666  41023  235575
186  111811  39667  223126
187  105949  43017  222531
188  103420  44310  230270
189  120363  50688  247155
190  101215  41924  240524
191  114300  42314  223129

In [7]:
df2 = pd.read_csv('napoje_po_reklamie.csv', sep=';', usecols=['cola', 'fanta ', 'pepsi'])
df2.rename(columns={'fanta ': 'fanta'}, inplace=True)
df2

     pepsi  fanta    cola
0   119110  41386  215468
1   107424  45669  233941
2   105748  47373  229677
3   115377  39395  234246
4   103003  42477  219392
5   102809  47224  219600
6   106890  45185  225857
7   103613  38748  226311
8   112709  34145  232491
9   112780  37407  235802
10  113206  51504  221554
11  107777  41005  223153

In [8]:
ttest_rel(df1['cola'], df2['cola'])

Ttest_relResult(statistic=0.11032676911481809, pvalue=0.9141373808316627)

In [9]:
ttest_rel(df1['fanta'], df2['fanta'])

Ttest_relResult(statistic=0.3199018672121306, pvalue=0.7550366759257837)

In [10]:
ttest_rel(df1['pepsi'], df2['pepsi'])

Ttest_relResult(statistic=-0.20520478240138976, pvalue=0.8411601080767367)

Można przyjąć, że średnie dla wszystkich tych par są równe